@import '~../../../styles.scss';

.element {
    @include box-display;
    
    &-normal {
        @include box-display;
        align-items: center;
        border: 1px solid $black-900;
        display: flex;
        float: left;
        flex-flow: row wrap;
        justify-content: center;
        height: 75px;
        padding: 5px 10px 7px;
        transition: all 350ms ease-in;
        width: 100%;

        .electro-negativity,
        .number-atomic,
        .symbol {
            @include box-display();
            display: flex;
            justify-content: center;
            margin: 0;
            line-height: 1em;
            position: relative;
            width: 100%;

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .symbol {
            @include font($font-default, 24px, 400, $black-900);
            padding-bottom: 3px;
        }

        .number-atomic {
            @include font($font-default, 13px, 500, $black-900);
            justify-content: flex-end;
        }

        .electro-negativity {
            @include font($font-default, 10px, 300, $black-900);
        }

        &.group {
            opacity: 1;
        }

        &.not-group {
            background-color: transparent !important;
            opacity: .4;

            .symbol,
            .number-atomic,
            .electro-negativity {
                color: $white-900;
                font-weight: 300;
            }

            &:after {
                @include box-display;
                border: 1px solid rgba($white-900, .3);
                content: '';
                height: calc(100% - 1px);
                left: 0;
                position: absolute;
                top: 0;
                width: calc(100% - 1px);
            }
        }

        &.radius {
            background-color: transparent;
            overflow: hidden;
            position: relative;

            .electro-negativity,
            .number-atomic,
            .symbol {
                color: $white-900;
                z-index: 2;
            }

            .electro-negativity {
                font-weight: 300;
            }

            .number-atomic {
                font-weight: 300;
            }

            .symbol {
                font-weight: 300;
            }

            .atomicRadius {
                @include box-display;
                bottom: 0;
                height: 100%;
                overflow: hidden;
                position: absolute;
                width: 100%;

                .radius {
                    @include box-display;
                    border-radius: 100%;
                    position: absolute;
                    top: 0;
                }
            }

            &:after {
                @include box-display;
                border: 1px solid rgba($white-900, .3);
                content: '';
                height: calc(100%);
                left: 0;
                position: absolute;
                top: 0;
                width: calc(100%);
            }
        }
    }

    &--content {
        @include box-display();
        height: 75px;
        overflow: hidden;
        position: relative;
        width: 65px;
    }
}