<section class="element" (click)="viewElement(elementData)" *ngIf="elementData">
  <div [ngSwitch]="typeView" class="element--content">
    <div class="element-normal" *ngSwitchCase="'normal'"
      [style.backgroundColor]="elementData.cpkHexColor"
      [ngClass]="{'group': groupBlock.id == 'all' || groupBlock.id == elementData.groupBlock, 'not-group': groupBlock.id != 'all' && groupBlock.id != elementData.groupBlock}">
      <p class="number-atomic">{{elementData.atomicNumber}}</p>
      <p class="symbol">{{elementData.symbol}}</p>
      <p class="electro-negativity"><span>{{elementData.atomicMass}}</span></p>
    </div>

    <div *ngSwitchCase="'radioActivity'">
      <p class="element-number-atomic">{{elementData.atomicNumber}}</p>
      <p class="element-symbol">{{elementData.symbol}}</p>
      <p class="element-electro-negativity">{{elementData.atomicMass}}</p>
    </div>

    <div class="element-normal radius" *ngSwitchCase="'radius'" 
      [style.backgroundColor]="hexToRGB(elementData.cpkHexColor, .7)">
      <p class="number-atomic">{{elementData.atomicNumber}}</p>
      <p class="symbol">{{elementData.symbol}}</p>
      <p class="electro-negativity"><span>{{elementData.atomicMass}}</span></p>
      <div class="atomicRadius">
        <div class="radius" elementRadius [radius]="elementData.atomicRadius" [ngStyle]="{'backgroundColor': elementData.cpkHexColor}"></div>
      </div>
    </div>

    <div *ngSwitchCase="'ionic'">
      <p class="element-number-atomic">{{elementData.atomicNumber}}</p>
      <p class="element-symbol">{{elementData.symbol}}</p>
      <p class="element-electro-negativity">{{elementData.atomicMass}}</p>
    </div>
  </div>
</section>