@import '~../../../styles.scss';

.table {
    @include box-display();
    height: 825px;
    list-style: none;
    margin: 0;
    max-width: $page-width;
    min-width: 768px;
    padding: 0;
    position: relative;
    width: 100%;

    &--groups,
    &--container {
        @include box-display();
        float: left;
        position: relative;
        width: 100%;
    }

    &-element {
        @include box-display();
        cursor: default;
        height: 75px;
        float: left;
        position: absolute;
        width: 65px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {
    .table {
        &--container {
            text-align: center;
        }

        &-element {
            float: none;
            left: initial !important;
            position: relative;
            top: initial !important;
            vertical-align: top;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}