/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800');
$font-default: 'Open Sans', sans-serif;

/* --- VARS  --- */
$page-width: 1170px;

/* --- COLORS --- */
$black-900: #21313B;

$white-900: #FFF;

/* --- MIXINS --- */
@mixin box-display() {
    box-sizing: border-box;
    display: inline-block;
}

@mixin font($font: $font-default, $size: 12px, $weight: 400, $color: $black-900) {
    color: $color;
    font-family: $font-default;
    font-size: $size;
    font-weight: $weight;
}

/* --- DEFAULTS --- */
body {
    @include box-display();
    background-color: $black-900;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0;
    text-align: center;
    width: 100%;
}

%wrapper {
    @include box-display();
    max-width: 100%;
    width: $page-width;
}

button {
    &.main {
        @include font($font-default, 14px, 300, $white-900);
        border: 2px solid $white-900;
        border-radius: 30px;
        background-color: $black-900;
        letter-spacing: 0.025em;
        margin: 0 10px;
        outline: none;
        opacity: .7;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: all 300ms ease-in-out;

        &.active,
        &:hover {
            opacity: 1;
        }

        &:disabled {
            opacity: .3;
        }
    }
}